@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-blue-500 hover:text-blue-700 underline;
  }

  .sticky-header + ul > li > h3:first-child {
    @apply mt-0;
  }
}

@layer components {
  .skip-to-content {
    @apply bg-zinc-100 z-50 p-2 absolute;
    transform: translateY(-150%);
    @media not (prefers-reduced-motion) {
      transition: transform 200ms ease-in;
    }
  }

  .skip-to-content:focus {
    transform: translateY(0);
  }

  .badge {
    @apply inline-block px-3 py-0.5 text-sm font-medium rounded-full bg-blue-200;
  }
}

@layer utilities {
  .sticky-header {
    @apply sticky top-16 pb-4 bg-zinc-100 w-full;
    border-bottom: 1px solid var(--tw-prose-hr);
  }
}
