@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .skip-to-content {
    padding: 0.5rem;
    position: absolute;
    transform: translateY(-150%);
    @media not (prefers-reduced-motion) {
      transition: transform 200ms ease-in;
    }
  }

  .skip-to-content:focus {
    transform: translateY(0);
  }
}

@layer utilities {
  .link {
    @apply text-blue-500 hover:text-blue-700 underline;
  }
}
